<% @title = t(".adoptions") %>
<% @subtitle = @rubygem.name %>

<div class="l-overflow">
  <div class="l-colspan--l">
    <% if @adoption %>
      <%= render layout: "adoptions/show", locals: { adoption: @adoption } do |adoption| %>
        <%= link_to(adoption.user.display_handle, profile_path(adoption.user.display_id), class: "t-link--black") %>
      <% end %>
      <%= render partial: "delete", locals: { adoption: @adoption, rubygem: @rubygem } %>
      <hr />
    <% elsif @rubygem.owned_by?(current_user) %>
      <%= render partial: "create" %>
    <% else %>
      <%= render "default" %>
    <% end %>

    <% if @rubygem.owned_by? current_user %>
      <%= render layout: "adoption_applications/list", locals: { adoption_applications: @rubygem.adoption_applications.opened, heading: t(".adoption_applications") } do |adoption_application| %>
        <%= link_to(adoption_application.user.display_handle, profile_path(adoption_application.user.display_id), class: "t-link--black") %>
      <% end %>
    <% else %>
      <%= render partial: "adoption_applications/index", locals: { adoption_application: @user_adoption_application } %>
    <% end %>
  </div>
</div>
