<p> <%= t(".hi", user: owner.handle) %> </p>
<p>
  <%= t(".request", user: adoption_application.user.name, gem: adoption_application.rubygem.name)%>
  <br />
  <%= t(".note") %>
  <%= adoption_application.note %>
  <br />
  <%= link_to "#{adoption_application.rubygem.name} adoptions", rubygem_adoptions_url(adoption_application.rubygem) %>
</p>
